.error {
	border: thin red solid;
}

svg {
	height: 0;
	display: block;
	margin: 10px auto;
}


.main-table, .parameters {
	margin: 10px auto;
	width: 90%;
	background: LightGrey;
	border: solid medium black;
	border-radius: 5px;
	padding: 10px 20px;
}

input[type=button] {
	margin-top: 10px;
	background: dimgray;
	color: white;
	padding: 4px 5px;
}

.row {
	display: flex;
	flex-direction: row;
	gap: 25px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

td, th {
	border: 1px solid black;
	padding: 2px 6px;
}

table {
	width: 100%;
	border: 1px solid black;
}
